<? INC Header.tmpl ?>

<? INC Scope.tmpl ?>

<? INC Breadcrumbs.tmpl ?>

<? LOOP ErrorLoop ?>
<? IF error ?>
<p><b><? VAR error ?></b></p>
<? ENDIF ?>
<? ENDLOOP ?>
<div class="toptable">
        <table class="data">
                <thead>
                        <tr>
                                <td>Item</td>
                                <td>Size</td>
                        </tr>
                </thead>
                <tbody>
                        <? LOOP ListLoop ?>
                        <tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
                                <td><a href="<? VAR scope ?>"><? VAR item ?></a></td>
                                <td width="125px"><? VAR size ?></td>
                        </tr>
                        <? ENDLOOP ?>
                </tbody>
        </table>
</div>

<? INC Footer.tmpl ?>
