<? INC Header.tmpl ?>

<? INC Scope.tmpl ?>

<? INC Breadcrumbs.tmpl ?>

<? LOOP LogLoop ?><a href="<? VAR raw ?>">Raw</a><? ENDLOOP ?>

<style type="text/css">
pre {
  background: white;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 5px;
}
</style>

<pre>
<? LOOP LogLoop ?><? VAR log ?><? LogLoop ?><? ENDLOOP ?>
</pre>

<? LOOP LogLoop ?><a href="<? VAR raw ?>">Raw</a><? ENDLOOP ?>

<br /><br />
<? INC Breadcrumbs.tmpl ?>

<? INC Footer.tmpl ?>
