<? INC Header.tmpl ?>

<p>Please set your ABSOLUTE log path here. For privacy and security, the path MUST include a "$USER" variable.</p><br />

<p><b><? LOOP MessageLoop ?><? VAR Message ?><? ENDLOOP ?></b></p><br />

<form method="post" action="path">
    <? INC _csrf_check.tmpl ?>
    <textarea name="path" cols="70" rows="1" class="monospace"><? LOOP PathLoop ?><? VAR Path ?><? ENDLOOP ?></textarea>
    <br /><input type="submit" name="save" value="Save" />
</form>

<? INC Footer.tmpl ?>
