Scope:

<form name="scope" action="index" method="post" style="display:inline;">
    <? INC _csrf_check.tmpl ?>
    <select name="scope">
        <? LOOP ScopeLoop ?>
            <option value="<? VAR network ?>" <? IF active ?>selected="selected"<? ENDIF ?>><? VAR network ?></option>
        <? ENDLOOP ?>
    </select>
    <input type="submit" value="Set" />
</form>

<p><i>Note: Please be sure to select the appropriate scope. If you have log loaded at multiple levels, logs will be retrieved at their set level.</i><p><br />

